[Unit]
Description=messenger-bot-system
After=network.target

[Service]
Environment=
Type=simple
User=root
ExecStart=/usr/bin/node /home/ubuntu/virtualassitant/messenger-bot-system-mixed/index.js
WorkingDirectory=/home/ubuntu/virtualassitant/messenger-bot-system-mixed
Restart=on-failure

[Install]
WantedBy=multi-user.target
