[Unit]
Description=messenger-bot-system
After=network.target

[Service]
Environment=
Type=simple
User=root
ExecStart=/usr/bin/node /home/ubuntu/bot/messenger-bot-system/index.js
WorkingDirectory=/home/ubuntu/bot/messenger-bot-system
Restart=on-failure

[Install]
WantedBy=multi-user.target